extends layout

block content
	.app-page
		section.banner.bgMint
			.content.max768
				.col-sm-6.tac
					img(src=assetPath('images/logo-fancy-600.png'))
				.col-sm-6.txt-white.words
					h1 Ping Pong at it's Nerdiest
					p Find the best ping pong players from accross the land and challenge them to a duel of pure, unadulterated, pong skill.
					
		section.users
			.content
				each opponent in users
					.item
						.person
							p.rank-space #{opponent.profile.rank}
							img(src = opponent.profile.picture)
							p.name #{opponent.profile.name}
							p.score-space #{opponent.profile.score}
							h5 #{opponent.profile.company}
						.record-score
							p.f16.pad10b 
								i.fa.fa-pencil-square-o
								| record scores
								if user
									p.o4.pad10b
										| I hereby promise that the scores about to be entered below
										| are an honest and true representation of
										| a ping pong match that was played. Cross my heart  
										| hope to die, stick a needle in my eye.
									form.js-record-score
										input.js-record-score-oid(type='hidden', name='opponentId', value='#{opponent._id}')
										input(type='hidden', name='_csrf', value=_csrf)
										.pad20b
											.player
												img(src='#{user.profile.picture}')
												input(placeholder="wins" type='userWins', name='userWins', id='userWins', autocomplete="off")
											.player
												img(src='#{opponent.profile.picture}')
												input(placeholder="wins" type='opponentWins', name='opponentWins', id='opponentWins', autocomplete="off")
										button.btn.bgWhite.txt-mint.full(type='submit') 
											| enter
								else
									p.o4 To record a score you must be logged in
									a.btn.btn-block.btn-github.btn-social(href='/auth/github')
										i.fa.fa-github
										| Log in with GitHub
									a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
										i.fa.fa-facebook
										| Log in with Facebook
									
						.about
							span.ion-ios-close-empty
							h5 Current Rank : #{opponent.profile.rank}
								each match in opponent.matches
									h5 #{match.dateString}
									p #{match.winner.rank} #{match.winner.name} #{match.winner.score} - #{match.winner.wins}
									p #{match.loser.rank} #{match.loser.name} #{match.loser.score} - #{match.loser.wins}
									
				
				
